[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
svgelements = "*"
shapely = "*"

[requires]
python_version = "3.8"

[scripts]
fixture_types = "python3 fixture_types.py"
room_types = "python3 room_types.py"
